/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

/*para que el footer este abajo siempre*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
}
/*fin*/

.opcion,.opc{
    cursor: pointer;
}

.toast-message{
    font-size: 15px !important;
}

.toast-top-right{    
    top: 70px !important;
}

.h1{
    font-size: 50px;
    line-height: 36px;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-bottom: 30px;
}
.h2{
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0px;
}

.opcion p{
    margin: 0;
}
.opcion label:before, .opcion label:after{
    box-sizing: border-box !important;
}

/*para datatables*/
/*
.dataTables_wrapper .select-wrapper{
display: inline-block !important;
}
.dataTables_wrapper .select-wrapper input.select-dropdown{
text-align: center !important;
}
*/


.bread{
    box-shadow: none !important;
    height: 40px !important;
    line-height: 40px !important;
    background-color: rgba(2,2,2,0) !important;
}
.bread .breadcrumb,.bread .breadcrumb:before{
    color: rgba(0,0,0,0.7);    
}
.bread .breadcrumb:last-child{
    color: black;
}

/*para datatables*/

.dataTables_length select{
    display: inline-block !important;
    width: inherit;
}

table p {
    text-align: center !important;
}

/*fin de datatables*/

/*para dropify*/
.dropify-wrapper p {
    text-align: center !important;
}

.dropify-wrapper ul:not(.browser-default) li{
    list-style-type: disc !important;
}


/*fin para dropify*/

/*sexo*/
.fa-male{
    color: blue;
}
.sexswitch label .lever{
    background-color: #8787e6;
}
.sexswitch label .lever:after{
    background-color: blue;
}
.sexswitch label input[type=checkbox]:checked+.lever:after{
    background-color: #e91e63;
}
.sexswitch label input[type=checkbox]:checked+.lever{
    background-color: #f197b6;
}
/*fin sexo*/

/*media query*/

@media only screen and  (min-width: 993px) {  /* LARGE */
    .piereyed{
/*        color: green;*/
    }
}

@media only screen and  (max-width: 992px) {/* MEDIUM */

    .piereyed{
/*        color: yellow;*/
    }
    /*para mejorar las data tables*/
    table.datatable tr th{
        width: initial !important;
    }
    /*fin para mejorar las data tables*/


}

@media only screen and  (max-width: 600px) { /* SMALL */

    .piereyed{
/*        color: red;*/
    }

    /*para mejorar las data tables*/
    .dataTables_wrapper .dataTables_filter{
        width: initial !important;
    }
    table.datatable tr th{
        width: initial !important;
    }
    .dataTables_info, .dataTables_paginate{
        display: block !important;
        float: none !important;
    }
    /* fin para mejorar las data tables*/

    .h1{
        font-size: 27px;
        line-height: 70%;
        letter-spacing: 1.5px;
    }
    nav.bread{
        display: none;
    }


}