/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

/*para que el footer este abajo siempre*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*fin*/

.opciones span {
    display: inline-table;
}
.fila{
    cursor: pointer;
}